body {
    background: #f5f4f4;
    color: #ffffff;
    max-width: 1350px;
    margin: 20px auto;
}

#left {
    float: left;
    width:800px;
}

#right{
    margin-left: 800px;
}


#canvas-container {
    /* border: 2px dotted black; */
    margin: 0 auto;
    width: 800px;
    height: 800px;
    position: relative;
}

.control-segment{
    padding:8px;
}

canvas {
    background: #f8f8f8;
    /* border: 2px dotted black; */
    margin-bottom: 1rem;
    padding: 0;
}



#log{
    background-color:beige;
    border: 2px dotted black;
    color:rgb(164, 121, 65);
    height: 200px;
    width: 170px;
    position: absolute;
    padding: 0 0 0 20px;
    top:400px;
    left:490px;
    text-align: left;
    list-style-type:square; /* Remove bullets */
    overflow: auto;
}

#startupScreen{
    background-color:beige;
    border: 2px dotted black;
    color:rgb(164, 121, 65);
    height: 200px;
    width: 150px;
    position: absolute;
    padding: 0 0 0 0px;
    top:300px;
    left:325px;

}
#player-join-list{
    /* list-style-type:bullet; Remove bullets */
    overflow: auto;
    text-align: left;
}



#log li{
    margin: 5px;
}

#action-container {
    background: #f8f8f8;
    border: 2px dotted black;
    color:black;
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    width: 380px;
}

#player-portraits{
    list-style-type: none; /* Remove bullets */
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

#player-portraits li {
    width: 125px;
    height: 100px;
    margin: 0px 5px;
    display: inline-block;
}

.control-segment{
    border-bottom: 1px dotted black;
}

.control-segment .title{
    text-align: center;
    color:gray;
    padding-bottom: 5px;
}

#property-display{
    height:200px;
    width:180px;
    padding:10px;
    margin: 8px 0px;
    border-radius: 10px;
    text-align: center;
}

#property-company-group{
    padding:5px;
    border: 1px solid black;
}
#property-name{
    margin:5px 0 10px 0;
}
#property-information{
    text-align:left;
}

#property-information div{
    margin-bottom: 8px;
}

.avatar-image {
    background-image: url('img_avatar.png');
    width: 100%;
    height: 50px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: 95%;
    filter: sepia(100%);
    padding: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0px;
    color: black;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}